@model IEnumerable<Entities.Concrete.AppRole>
@{
    ViewData["Title"] = "Kullanıcı Rolleri";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Kullanıcı Rol Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Rol Adı</th>
                    <th style="max-width: 10px;">Detay</th>
                </tr>
            </thead>

            <tbody>
                @{
                    int a = 1;
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@a</td>
                            <td>@item.RolName</td>
                            <td>Detay</td>
                        </tr>
                        a++;
                    }
                }

            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Rol Adı</th>
                    <th style="max-width: 10px;">Detay</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<a asp-controller="approles" asp-action="add" id="add-btn" class="btn btn-success rounded-circle"><i
        class="fa-solid fa-plus"></i></a>