@{
  ViewData["Title"] = "İnsan Kaynakları";
}

<!-- Info boxes -->
<div class="row">
  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-info elevation-1"><i class="fa-solid fa-turkish-lira-sign"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Mesai</span>
        <span class="info-box-number">
          1000,00
          <small></small>
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <span class="info-box-icon bg-danger elevation-1"></span>

      <div class="info-box-content">
        <span class="info-box-text">Title2</span>
        <span class="info-box-number">00,00</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- fix for small devices only -->
  <div class="clearfix hidden-md-up"></div>

  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <span class="info-box-icon bg-success elevation-1"></span>

      <div class="info-box-content">
        <span class="info-box-text">Title3</span>
        <span class="info-box-number">00,00</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <span class="info-box-icon bg-warning elevation-1"></span>

      <div class="info-box-content">
        <span class="info-box-text">Title4</span>
        <span class="info-box-number">00,00</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>

<!-- /.row -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Personel Listesi</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Personel Ad</th>
          <th>Personal Soyad</th>
          <th>Departman</th>
          <th>Görev</th>
          <th>Detay</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Plastik</td>
          <td>Enjeksiyon</td>
          <td>></td>
        </tr>

        <tr>
          <td>2</td>
          <td>Gökhan</td>
          <td>Tınmaz</td>
          <td>Plastik</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>

        <tr>
          <td>3</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Şişirme</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>

        <tr>
          <td>4</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>

        <tr>
          <td>5</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Enjeksiyon</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>6</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>7</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>8</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>9</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>10</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>11</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Şişirme</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>12</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>13</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Şişirme</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>14</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>15</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>16</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Şişirme</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>17</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>18</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>19</td>
          <td>Deneme Ad</td>
          <td>Deneme Soyad</td>
          <td>Üretim</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>
        <tr>
          <td>20</td>
          <td>Kutluhan</td>
          <td>Yeğit</td>
          <td>Enjeksiyon</td>
          <td>Çalışan</td>
          <td>></td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <th>#</th>
          <th>Personel Ad</th>
          <th>Personal Soyad</th>
          <th>Departman</th>
          <th>Görev</th>
          <th>Detay</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>
