#save-btn {
    width: 150px;
}

#add-btn {
    position: fixed;
    bottom: 75px;
    right: 25px;
}

#logout a {
    position: fixed;
    bottom: 10px;
    background-color: #ec2127;
    border-radius: 4px;
    color: white;

}

#logout a:hover {
    position: fixed;
    bottom: 10px;
    background-color: #ec2127;
    border-radius: 4px;
    color: white;

}